<section class="container mt-3">
    <h4>Cadastro de Produto</h4>
    <div class="row g-3 mt-2">
        <div class="col-sm-2">
            <label for="">Código:</label>
            <input type="text" class="form-control" placeholder="Ex: 1234">
        </div>
        <div class="col-sm-4">
            <label for="">Nome do produto:</label>
            <input type="text" class="form-control" placeholder="Produto">
        </div>
        <div class="col-sm-4">
            <label for="">Categoria de maquiagem:</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Selecione uma categoria</option>
                <option value="1">Rosto</option>
                <option value="2">Olhos</option>
                <option value="3">Lábios</option>
                <option value="4">Acessórios</option>
                <option value="5">Cuidados Faciais</option>
                <option value="6">Cuidados Corporais</option>
                <option value="7">Fragâncias</option>
              </select>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-sm-2">
            <label for="">Quantidade:</label>
            <input type="text" class="form-control" placeholder="Ex: 26">
        </div>
    </div>
</section>